@import "../../global/styles/variables.scss";

.education {
  min-height: 80vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 5rem 0;

  h1 {
    width: 90%;
    text-align: left;
    margin: 2rem 0;
    // font-size: 3rem;
  }
}

.education-content {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.education-item {
  display: flex;
  flex-direction: column;
  align-items: center;

  div {
    width: 60px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $tex-hover-color;
    margin: 1rem 0;
  }

  .period {
    color: $button-disabled-bg;
  }
}

.education-icon {
  fill: white;
  width: 60px;
}

@media(min-width: 960px) {
  .education {
    // min-height: 100vh;
    width: calc(100vw - 18vw);

    h1 {
      margin: 3rem 0;
    }
  }

  .education-content {
    align-items: flex-start;
  }
  
  .education-item {
    align-items: flex-start;
  
    .period {
      font-size: 0.8rem;
    }
  }
}
