@import "./classes.scss";

// global
html,
body,
h1,
h2,
h3,
h4,
h5,
p,
div,
input,
button,
output,
strong,
label,
table,
thead,
textarea {
    @extend .text-normal;
}

h1 {
    @extend .heading-1;
}

h2 {
    @extend .heading-2;
}

h3 {
    @extend .heading-3;
}

h4 {
    @extend .heading-4;
}

a {
    @extend .link;
}

body {
    margin: 0;
    max-width: 100vw;
    overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: gray; 
    border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: black; 
}