// Global variables
$background-color: white;
$border-radius: 5px;
$letter-on-dark-color: white;
$letter-on-light-color: black;
$heading-bottom-line: $letter-on-light-color;
$min-height: calc(100vh - 5rem); // 100vh - footer-height
$text-cover-bg: rgba(0, 0, 0, 0.5);
$tex-hover-color: #9013FE;
$text-backdrop: rgba(144, 19, 254, 0.8);

// Styles:

// Buttons
$button-disabled-bg: #747474; 
$button-default-bg: #C8C8C8;
$button-submit-bg: #9013FE;
$button-cancel-bg: #b30000;
$button-alternative-bg: $letter-on-light-color;
$button-border: $letter-on-dark-color;
$button-hover-border: $letter-on-light-color;
$button-alternative-hover-bg: $letter-on-dark-color;

// Forms, labels and inputs
$form-margin: 1rem 0;
$form-width: calc(100% - 2rem); // with left and right margins
$input-border: $button-default-bg;
$input-margin: 0 0.2rem 0.5rem 0.2rem;
$input-padding: 0.5rem 1rem;
$label-margin: 0 0.2rem;

// Tables
$table-margin: $form-margin;
$table-width: $form-width;
$table-border: $letter-on-light-color;
$table-head-bg: #a5a5a5;
$table-row-bg: #e9e9e9;
$table-row-alternating-bg:  white;

// Tabs
$tabs-container-margin: $form-margin;
$tabs-heads-border: $table-border;
$tab-head-selected-bg: $letter-on-light-color;

// Accordions
$accordions-container-margin: $form-margin;
$accordions-container-width: $form-width;
$accordion-head-bg: $table-row-bg;
$accordion-head-hover-bg: $button-default-bg;
$accordion-content-bg: #f7f7f7;

// Components:

// Navbar
$sidebar-height: 5rem;
$sidebar-background: white;
$sidebar-backdrop-color: white; 

// Footer
$footer-height: 1rem;
$footer-background:  #313131;

// Alert
$alert-margin: $form-margin;
$alert-width: $form-width;
$alert-success-bg: #b6cf9a;
$alert-error-bg: #ffc7c7;
$alert-default-bg: $table-row-bg;

// Pop-Up
$pop-up-z-index: 500;
$pop-up-backdrop: rgba(0, 0, 0, 0.6);

// Navigation Buttons
$nav-btn-bg: rgba(0, 0, 0, 0.5);
$nav-btn-hover-bg: rgba(0, 0, 0, 0.8);

// Course Info
$course-info-bg: rgb(0, 0, 0);