@import "../../global/styles/variables.scss";

.skills {
  min-height: $min-height;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 5rem 0;

  h1 {
    width: 90%;
    text-align: left;
    margin: 2rem 0;
    // font-size: 3rem;
  }
}

.technical-skills {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.technical-skills-item {
  margin-top: 2rem;
  width: 100%;

  h3 {
    color: $button-disabled-bg;
  }

  ul {
    width: 100%;
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    margin: 0;
  }

  li {
    margin: 1rem 0;
    width: 30%;
  }

  p {
    color: $button-disabled-bg;
  }
}

.soft-skills {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 3rem;

  ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
  
  li {
    display: flex;
    padding-left: 1em;
    text-indent: -1em;
    margin: 0.5rem 0;
  }
  
  li:before {
    content: "▪";
    padding-right: 1rem;
    color: $tex-hover-color;
  }
}

.language-skills {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 3rem;

  ul {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    margin: 1.5rem 0;
    width: 30%;
  }

  p {
    color: $button-disabled-bg;
  }
}

@media(min-width: 960px) {
  .skills {
    height: auto;
    width: calc(100vw - 18vw);

    h1 {
      margin: 3rem 0;
    }
  }

  .technical-skills-item { 
    width: 100%;

    ul {
      width: 100%;
      grid-template-columns: repeat(3, 30%);
      margin: 0;
      max-height: auto;
    }
  
    li {
      width: 100%;
    }
  }
}
