@import "../../global/styles/variables.scss";

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: $sidebar-height;
    background-color: $sidebar-background;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.sidebar-logo {
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    text-decoration: none;

    h3 {
        text-align: center;
    }
}

.logo-img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    object-position: top;
    margin: 0 0.5rem 0 1rem;
    border-radius: 100%;
}

.menu-icon {
    fill: $letter-on-light-color;
    height: 26px;
    margin-right: 2rem;
}

.sidebar-links {
    position: fixed;
    top: $sidebar-height;
    right: 0;
    height: 100vh;
    width: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $sidebar-backdrop-color;
}

.sidebar-links--closed {
    width: 0;
    animation: close-sidebar-links 0.5s;    
}

.sidebar-links--opened {
    width: 70vw;
    animation: open-sidebar-links 0.5s;
    border-left: solid 0.3px $table-row-bg;
}

.links-list {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    visibility: hidden;
}

.links-item {
    width: 70vw;
    text-align: center;
    margin: 0.5rem;
    padding: 1rem;
    font-size: 0.8rem;
}

.sidebar-icons {
    height: 20%;
    width: 50%;
    display: flex;
    justify-content: space-between;
    visibility: hidden;
}

.social-media-icon {
    height: 25px;
    fill: $letter-on-light-color;
}

@keyframes open-sidebar-links {
    from {
        width: 0;
    }
    to {
        width: 70vw;
    }
}

@keyframes close-sidebar-links {
    from {
        width: 70vw;
    }
    to {
        width: 0;
    }
}

@media(min-width: 960px) {
    .sidebar {
        top: 0;
        left: 0;
        width: 18vw;
        height: 100vh;
        background-color: $sidebar-background;
        flex-direction: column;
        justify-content: flex-start;
        border-right: solid 0.3px $table-row-bg;
        overflow-y: auto;
    }
    
    .sidebar-logo {
        height: auto;
        flex-direction: column;        
        justify-content: center;
        padding: 2rem 0;
    }
    
    .logo-img {
        height: 120px;
        width: 120px;
        margin: 1rem 0;
    }
    
    .menu-icon {
        display: none;
    }
    
    .sidebar-links {
        position: static;
        width: 100%;
        height: auto;
        margin: 2rem 0;
    }
    
    .links-list {
        width: 100%;
        height: auto;
        visibility: visible;
    }
    
    .links-item {
        width: auto;
        border-bottom: solid 5px transparent;
    }

    .links-item:hover {
        border-bottom: solid 5px $tex-hover-color;
    }

    .sidebar-icons {
        position: absolute;
        bottom: 2rem;
        height: auto;
        width: 40%;
        visibility: visible;
    }

    .social-media-icon {
        height: 22px;
        border-bottom: solid 5px transparent;
    }

    .social-media-icon:hover {
        border-bottom: solid 5px $tex-hover-color;
    }
}
