@import "../../global/styles/variables.scss";

.master-container {
    background-color: white;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-x: hidden;
}

.master-content {
    margin: $sidebar-height 0 0 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-x: hidden;
}

.component {
    border-bottom: solid 0.3px $button-default-bg;
}

@media(min-width: 960px) {
    .master-content {
        margin: 0;
        width: calc(100% - 18vw);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        align-self: flex-end;
    } 
}